<!DOCTYPE html>
<html>
    <head>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <title>SeanDThompsonJr</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
        <link href="https://fonts.googleapis.com/css?family=Lilita+One|Roboto+Condensed|Passion+One|Roboto+Mono|Assistant|Teko|Josefin+Sans|Open+Sans+Condensed:300&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto+Mono:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
		<script src="https://kit.fontawesome.com/97f5822177.js" crossorigin="anonymous"></script>
        
    </head>
	<body>
		<header>
			<div class='logo'><span id='stPortion'>ST</span></div>
		<nav>
			<div class="container">
				<ul>
					<li><a href="#" class='current'>Home</a></li>
					<li class="sub-menu"><a href="#">Portfolios</a>
						<ul>
							<li><a href="#" class='sub-catagory'>Film Production</a></li>
							<li><a href="#" class='sub-catagory'>Web Development</a></li>
							<li><a href="#" class='sub-catagory'>Videogame Prod.</a></li>
						</ul>
					</li>
					<li><a href="#">Contact</a></li>	
				</ul>
			</div>
		</nav>
		<div id="menuToggle"><i class="fa fa-bars" aria-hidden="true"></i>
		</div>
		</header>