<!DOCTYPE html>
<html>
<head>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<title>SeanDThompsonJr</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 	<link rel="stylesheet" type="text/css" href="/stylesheets/computerScience.css">
<link href="https://fonts.googleapis.com/css?family=Lilita+One|Roboto+Condensed|Passion+One|Roboto+Mono|Assistant|Teko|Josefin+Sans|Open+Sans+Condensed:300&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto+Mono:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
			<link rel="shortcut icon" href="/images/logo/Aspiring-Creative-ICO-TabLogo.ico" type='image/x-icon'>
		<script src="https://kit.fontawesome.com/97f5822177.js" crossorigin="anonymous"></script>

</head>
	<body>
		<header>
			<div class='logo'>
				<img id='personalLogo' src='/images/logo/Aspiring-Creative-ST-Logo.png' />
				<img id='mobileLogo' src='/images/logo/Aspiring-Creative-Mobile-Logo.png' />
			</div>
		<nav>
			<div>
				<ul>
					<li><a href="/">Home</a></li>
					<li class="sub-menu"><a class='current'>Portfolios</a>
						<ul>
							<li><a href="/computer_science" class='sub-catagory current'>Computer Sci.</a></li>
							<li ><a href="/film_production" class='sub-catagory'>Film Production</a></li>
						</ul>
					</li>
					<li><a href="/contact">Contact</a></li>
						<li class="sub-menu"><a>Resume</a>
						<ul>
							<li><a href="/resume/SeanThompsonJr_CSResume.pdf" download>CS Resume</a></li>
							<li><a href="/resume/SeanJr_FilmResume2021.pdf" download>Film Resume</a></li>
							<li><a href="/resume/SeanJrResume2021.pdf" download>General Resume</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
		<div id="menuToggle"><i class="fa fa-bars" aria-hidden="true"></i>
		</div>
		</header>
		
		
		<!-- ----------------------- Side Bar Selects ----------------------- -->
			
			<div orientation='left' class='side-selects'>
				<ul class='professional_Links'>
					<li id="instagramIcon"><a href='https://www.instagram.com/sean_sj_thompson/' target="_blank" arial-label='Instagram'><i class="fab fa-instagram"></i></a></li>
					<li> <a href='https://www.linkedin.com/in/sean-thompson-b8a6a7161/' target="_blank" arial-label='LinkedIn'><i class="fab fa-linkedin-in"></i></a></li>
					<li> <a href='https://vimeo.com/seanthompsonjr' target="_blank" arial-label='Vimeo'><i class="fab fa-vimeo"></i></a></li>
					<li> <a href='https://github.com/SDThompson12' target="_blank" arial-label='Github'><i class="fab fa-github"></i></a></li>
				</ul>
			</div>
	
<div class='container'>
		<h3 id='featuredProjectTitle'>
			Featured Projects
		</h3>
		<!--  ------ Mailchimp ------- -->
		<section>
		<div class="row">
			<div class="col-md-4 featuredProjectInfo" id='mailchimpInfo'>
				<h3><b>Mailchimp: On-The-Go Marketing</b></h3>
				<hr>
				<h6>November, 2021</h6>
				<h5>Technologies</h5>
				<p> Javascript <span class="technologyBreak"> | </span> Bootstrap 3 <span class="technologyBreak"> | </span> NodeJS <span class="technologyBreak"> | </span> ExpressJS </p> 
				<h5>Overview</h5>
					<p>Mock-up website for Mailchimp's mobile application that utilizes modern web development techonologies and designed to fit the look and feel of Mailchimp's website. Utilizes the company's in-house font, color schemes, linking, and logo to seemlessly appear as another website within Mailchimp's domain.</p>
			</div>
			<div class="col-md-8 featuredProjectCarousel">
				<!--Carousel-->
					<div class="browser" id='mailchimpBrowser'>
						<div class="bar">
							<div class="gui">
								<div class="circle"></div>
								<div class="circle"></div>
								<div class="circle"></div>
							</div>
						</div>
						<div id="mailchimpCarousel" class="carousel slide" data-ride="carousel">
					<!-- Indicators -->
					<ol class="carousel-indicators">
					<li data-target="#mailchimpCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#mailchimpCarousel" data-slide-to="1" class=""></li>
					<li data-target="#mailchimpCarousel" data-slide-to="2" class=""></li>
					</ol>
					<div class="carousel-inner" role="listbox">
						<div class="item">
						<img class="first-slide" src="images/mailchimp/MailchimpMarketingSite-1.png" alt="First slide">
					 		</div>
						<div class="item">
						<img class="second-slide" src="images/mailchimp/MailchimpMarketingSite-2.png" alt="Second slide">
					</div>
					<div class="item active">
						<img class="third-slide" src="images/mailchimp/MailchimpMarketingSite-3.png" alt="Third slide">
					</div>
					</div>
					<a class="left carousel-control" href="#mailchimpCarousel" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
					</a>
					<a class="right carousel-control" href="#mailchimpCarousel" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
					</a>
					</div><!-- /.carousel -->
					</div>
					<div class='projectLinks'>
						<a href='http://sdt-mailchimpmarketing.herokuapp.com/' target="_blank"><button id='viewProjectBtn' class='btn btn-primary'> View Project </button></a>
						<a href='https://github.com/SDThompson12/MailchimpMarketingWebsite' target="_blank" arial-label='Github'><i class="fab fa-github"></i></a>
					</div>
			</div>
			
		</div>	
		</section>
		<!--  ------ Android Studio  ------- -->
		<section>
			<div class="row">
				<div class="col-md-8 featuredProjectCarousel">
						<!--Carousel-->
							<div class="browser" id='projectBMBrowser'>
								<div class="bar">
									<div class="gui">
										<div class="circle"></div>
										<div class="circle"></div>
										<div class="circle"></div>
									</div>
								</div>
							<div id="projectBMCarousel" class="carousel slide" data-ride="carousel">
							<!-- Indicators -->
							<ol class="carousel-indicators">
							<li data-target="#projectBMCarousel" data-slide-to="0" class=""></li>
							<li data-target="#projectBMCarousel" data-slide-to="1" class=""></li>
							<li data-target="#projectBMCarousel" data-slide-to="2" class="active"></li>
							<li data-target="#projectBMCarousel" data-slide-to="3" class=""></li>
							</ol>
							<div class="carousel-inner" role="listbox">
								<div class="item">
									<img class="first-slide" src="images/androidStudio/AndroidStudio-1.png" alt="First slide">
								</div>
								<div class="item">
									<img class="second-slide" src="images/androidStudio/AndroidStudio-2.png" alt="Second slide">
								</div>
								<div class="item active">
									<img class="third-slide" src="images/androidStudio/AndroidStudio-3.png" alt="Third slide">
								</div>
								<div class="item">
									<img class="fourth-slide" src="images/androidStudio/AndroidStudio-4.png" alt="Fourth slide">
								</div>
							</div>
							<a class="left carousel-control" href="#projectBMCarousel" role="button" data-slide="prev">
								<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
							</a>
							<a class="right carousel-control" href="#projectBMCarousel" role="button" data-slide="next">
								<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
								<span class="sr-only">Next</span>
							</a>
						</div><!-- /.carousel -->
							</div>
						<div class='projectLinks'>
							<a href='https://github.com/SDThompson12/ProjectBlackMirror_V2' target="_blank" arial-label='Github'><i class="fab fa-github"></i></a>
						</div>
				</div>
				<div class="col-md-4 featuredProjectInfo2" id='projectBMInfo'>
					<h3><b>Project: Black Mirror V2</b></h3>
					<hr>
					<h6>November, 2021</h6>
					<h5>Technologies / Packages</h5>
					<p> Java <span class="technologyBreak"> | </span> Android Studio <span class="technologyBreak"> | </span> Gradle </p>
					<h5>Overview</h5>
						<p>This project was a recreation of a previous project from a web app into a mobile applicaiton. A mock-up concept for a web/phone application that connects people's many different IoT devices and allows a user to control the IOTs in differents rooms all in one app.</p>
				</div>
			</div>
		</section>
		<!--  ------ YelpCamp ------- -->
		<section>
			<div class="row">
				<div class="col-md-4 featuredProjectInfo" id='yelpcampInfo'>
					<h3><b>YelpCamp</b></h3>
					<hr>
					<h6>March, 2019</h6>
					<h5>Technologies</h5>
					<p>Bootstrap 3 <span class="technologyBreak"> | </span> NodeJS <span class="technologyBreak"> | </span> Express <span class="technologyBreak"> | </span> Mongoose <span class="technologyBreak"> | </span> jQuery <span class="technologyBreak"> | </span> Passport </p>
					<h5>Overview</h5>
						<p>Mockup website of a campsite review system using Mongoose and Express to practice authenication, dynamic database changes, and 	understanding the usages of RESTful Routing techniques.
						</p>
					<!-- 
					<h5>Reflection</h5> 
						<p> This project was made to combine all of my studies in JavaScript, database management, authenication, and RESTful Routing into a complete website. If I ever return to this project, I would like to update the look and feel of the website, and have more editable and personalized components to the profile/user experience. This website still functions and is hosted by Heroku, but with outdated dependencies.</p>
					-->
				</div>
				<div class="col-md-8 col-md featuredProjectCarousel">
					<!--Carousel-->
						<div class="browser">
							<div class="bar">
								<div class="gui">
									<div class="circle"></div>
									<div class="circle"></div>
									<div class="circle"></div>
								</div>
							</div>
							<div id="yelpcampCarousel" class="carousel slide" data-ride="carousel">
						<!-- Indicators -->
						<ol class="carousel-indicators">
						<li data-target="#yelpcampCarousel" data-slide-to="0" class=""></li>
						<li data-target="#yelpcampCarousel" data-slide-to="1" class=""></li>
						<li data-target="#yelpcampCarousel" data-slide-to="2" class="active"></li>
						<li data-target="#yelpcampCarousel" data-slide-to="3" class=""></li>
						</ol>
						<div class="carousel-inner" role="listbox">
							<div class="item">
							<img class="first-slide" src="images/yelpcamp/Yelpcamp-1.jpg" alt="First slide">
								</div>
							<div class="item">
							<img class="second-slide" src="images/yelpcamp/Yelpcamp-2.jpg" alt="Second slide">
						</div>
						<div class="item active">
							<img class="third-slide" src="images/yelpcamp/Yelpcamp-3.jpg" alt="Third slide">
						</div>
						<div class="item">
							<img class="fourth-slide" src="images/yelpcamp/Yelpcamp-4.png" alt="Fourth slide">
						</div>
						</div>
						<a class="left carousel-control" href="#yelpcampCarousel" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
						</a>
						<a class="right carousel-control" href="#yelpcampCarousel" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
						</a>
							</div><!-- /.carousel -->
						</div>
						<div class='projectLinks'>
							<a href='https://yelpcamp-sdt.herokuapp.com/' target="_blank"><button id='viewProjectBtn' class='btn btn-primary'> View Project </button></a>
							<a href='https://github.com/SDThompson12/YelpCamp_V1' target="_blank" arial-label='Github'><i class="fab fa-github"></i></a>
						</div>
				</div>	
			</div>	
		</section>
		
		<!-- -------Employee Database System------- -->
		<section>
			<div class="row">
				<div class="col-md-8 featuredProjectCarousel">
						<!--Carousel-->
							<div class="browser" id='employeeBrowser'>
								<div class="bar">
									<div class="gui">
										<div class="circle"></div>
										<div class="circle"></div>
										<div class="circle"></div>
									</div>
								</div>
							<div id="employeeCarousel" class="carousel slide" data-ride="carousel">
							<!-- Indicators -->
							<ol class="carousel-indicators">
							<li data-target="#employeeCarousel" data-slide-to="0" class=""></li>
							<li data-target="#employeeCarousel" data-slide-to="1" class=""></li>
							<li data-target="#employeeCarousel" data-slide-to="2" class="active"></li>
							<li data-target="#employeeCarousel" data-slide-to="3" class=""></li>
							<li data-target="#employeeCarousel" data-slide-to="4" class=""></li>
							</ol>
							<div class="carousel-inner" role="listbox">
								<div class="item">
									<img class="first-slide" src="images/employee/EmployeeCode-Code1.png" alt="First slide">
								</div>
								<div class="item">
									<img class="second-slide" src="images/employee/EmployeeCode-Code2.png" alt="Second slide">
								</div>
								<div class="item active">
									<img class="third-slide" src="images/employee/EmployeeCode-CMD1.png" alt="Third slide">
								</div>
								<div class="item">
									<img class="fourth-slide" src="images/employee/EmployeeCode-CMD2.png" alt="Fourth slide">
								</div>
								<div class="item">
									<img class="fifth-slide" src="images/employee/EmployeeCode-CMD3.png" alt="Fifth slide">
								</div>
							</div>
							<a class="left carousel-control" href="#employeeCarousel" role="button" data-slide="prev">
								<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
							</a>
							<a class="right carousel-control" href="#employeeCarousel" role="button" data-slide="next">
								<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
								<span class="sr-only">Next</span>
							</a>
						</div><!-- /.carousel -->
							</div>
						<div class='projectLinks'>
							<a href='https://github.com/SDThompson12/Employee-Database-Mockup' target="_blank" arial-label='Github'><i class="fab fa-github"></i></a>
						</div>
				</div>
				<div class="col-md-4 featuredProjectInfo2" id='employeeDBInfo'>
					<h3><b>Employee Database Mock-up System</b></h3>
					<hr>
					<h6>May, 2016</h6>
					<h5>Technologies / Packages</h5>
					<p> Java <span class="technologyBreak"> | </span> Java.io.* <span class="technologyBreak"> | </span> Java.util.Scanner </p>
					<h5>Overview</h5>
						<p>This project was done as a mock-up of an employee database to keep track of employees' personal data and salary/hourly rates and to understand Text Processing. I used solely Java packages to create classes for both the companies and the employees and extended the necessary subclasses for each. After all the employee's information has been submitted, it is then pushed into a printable text file.</p>
				</div>
			</div>
		</section>
		
	<!-- ---------- Previous Projects Section ------------------- -->
	<section id='previousProjects'>
		<h3 id='previousProjectTitle'>
			Previous Projects
		</h3>
		<div class="previousProject-container">
			<div class="projectImage">
				<img class='previousProjectImage' id="movieAppProject" src="/images/previousProjects/MovieExpressApp.png">
			</div>
			<h3>
				Movie Express App
			</h3>
			<div class="projectDescription">
				<p>
					Uses the OMDb API as a practice tool learning how to pull data from an API, and apply it to my own website/web application.
				</p>
			</div>
			<footer>
				<div class="previousProject-technogies">
					<p> Javascript <span class="technologyBreak"> | </span> Bootstrap 3 </p>
				</div>
				<div class="githubCardLink" id='movieExpressGit'>
					<a href='https://github.com/SDThompson12/MovieExpress_App' target="_blank" arial-label='Github'><i class="fab fa-github"></i></a>
				</div>
			</footer>
		</div>
		<div class="previousProject-container">
			<div class="projectImage">
				<img class='previousProjectImage' id="smartHomeAppProject" src="/images/previousProjects/Project-BlackMirror.png">
			</div>
			<h3>
				Project: Black Mirror
			</h3>
			<div class="projectDescription">
				<p>
					A mock-up concept for a web/phone application that connects people's many different IoT devices.
				</p>
			</div>
			<footer>
				<div class="previousProject-technogies">
				 <p> NodeJS <span class="technologyBreak"> | </span> Express <span class="technologyBreak"> | </span> Mongoose </p>
				</div>
				<div class="githubCardLink" id='smartHomeGit'>
					<a href='https://github.com/SDThompson12/Project_BlackMirror' target="_blank" arial-label='Github'><i class="fab fa-github"></i></a>
				</div>
			</footer>
		</div>
		<div class="previousProject-container">
			<div class="projectImage">
				<img class='previousProjectImage' id="scoreKeeperProject" src="/images/colorpicker/ColorPicker-1.png">
			</div>
			<h3>
				<a href="https://sdt-color-picker-game.herokuapp.com/" style="color: #FFFFFF;">Color Picker App</a>
			</h3>
			<div class="projectDescription">
				<p>
					Uses pure Javascript and Bootstrap to change multiple tags with onclick Event Listeners and compare choices to the correct answer. Click the title to play the game!
				</p>
			</div>
			<footer>
				<div class="previousProject-technogies">
				 <p> Javascript <span class="technologyBreak"> | </span> Bootstrap 3 </p>
				</div>
				<div class="githubCardLink" id='colorPickerGit'>
					<a href='https://github.com/SDThompson12/ColorPickerGame' target="_blank" arial-label='Github'><i class="fab fa-github"></i></a>
				</div>
			</footer>
		</div>
		<div class="previousProject-container">
			<div class="projectImage">
				<img class='previousProjectImage' id="toDoListProject" src="/images/previousProjects/ToDoList-App.png">
			</div>
			<h3>
				To-Do List App
			</h3>
			<div class="projectDescription">
				<p>
					A mini-web application that allows the user to add and delete To-Do from the list and uses hover effects / on-click effects for functionality.
				</p>
			</div>
			<footer>
				<div class="previousProject-technogies">
				 	<p> Javascript <span class="technologyBreak"> | </span> Bootstrap 3 </p>
				</div>
				<div class="githubCardLink" id='toDoListGit'>
					<a href='https://github.com/SDThompson12/ToDoList_App_V1' target="_blank" arial-label='Github'><i class="fab fa-github"></i></a>
				</div>
			</footer>
		</div>
		<div class="previousProject-container">
			<div class="projectImage">
				<img class='previousProjectImage' id="photoGridProject" src="/images/previousProjects/PatchNotes-1.png">
			</div>
			<h3>
				Gaming RSS Feed
			</h3>
			<div class="projectDescription">
				<p>
					This is an RSS feed that gives up-to-date news on gaming news while giving the user the ability to add or remove any gaming feed.
				</p>
			</div>
			<footer>
				<div class="previousProject-technogies">
				 	<p> Javascript <span class="technologyBreak"> | </span> JSON <span class="technologyBreak"> | </span> Bootstrap 3 </p>
				</div>
				<div class="githubCardLink" id='patchNotesGit'>
					<a href='https://github.com/SDThompson12/ThePatchNotes' target="_blank" arial-label='Github'><i class="fab fa-github"></i></a>
				</div>
			</footer>
		</div>
		<div class="previousProject-container">
			<div class="projectImage">
				<img class='previousProjectImage' id="patatapCloneProject" src="/images/previousProjects/PatatapClone.png">
			</div>
			<h3>
				Patatap Clone 
			</h3>
			<div class="projectDescription">
				<p>
					A clone project of the website Patatap that uses JavaScript libraries such as howler.js and paper-full.js to create a responsive experience for the user, to hear different sounds and see circles appears as different keys are pressed.
				</p>
			</div>
			<footer>
				<div class="previousProject-technogies">
				 	<p> Javascript <span class="technologyBreak"> | </span> Bootstrap 3 </p>
				</div>
				<div class="githubCardLink" id='patatapCloneGit'>
					<a href='https://github.com/SDThompson12/PatatapClone' target="_blank" arial-label='Github'><i class="fab fa-github"></i></a>
				</div>
			</footer>
		</div>
	</section>
	
	<!-- ----------------------- Bottom Selects ----------------------- -->
		<div orientation='center' class='bottom-selects'>
				<ul class='professional_Links'>
					<li id="instagramIcon"><a href='https://www.instagram.com/sean_sj_thompson/' target="_blank" arial-label='Instagram'><i class="fab fa-instagram"></i></a></li>
					<li> <a href='https://www.linkedin.com/in/sean-thompson-b8a6a7161/' target="_blank" arial-label='LinkedIn'><i class="fab fa-linkedin-in"></i></a></li>
					<li> <a href='https://vimeo.com/seanthompsonjr' target="_blank" arial-label='Vimeo'><i class="fab fa-vimeo"></i></a></li>
					<li> <a href='https://github.com/SDThompson12'target="_blank" arial-label='Github'><i class="fab fa-github"></i></a></li>
				</ul>
		</div>
</div>

		<!-- jQuery CDN -->
 	<script
src="https://code.jquery.com/jquery-3.3.1.js"
integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
crossorigin="anonymous">
</script>
<!-- Bootstrap JS CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
</script>
		<!-- Typed.js CDN -->
		<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
		<!-- Parallax CDN -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="/scriptpages/parallax.min.js"></script>

		<script type="text/javascript">
			$(document).ready(function()
			{
				$('#menuToggle').click(function()
				{
					$('nav').toggleClass('active');
				})
				$('ul li').click(function()
				{
					$(this).siblings().removeClass('active');
					$(this).toggleClass("active");
				})
			});
		</script>
	</body>
</html>
