<% include ./partials/header.ejs %>
<div class='container'>	
	<h1>
		This is the film production page. Need to make a different header possible for this page to have a different CSS page it's connected to... and just copy everything in the other css page for the nav bar.
	</h1>
<% include ./partials/footer.ejs %>