<!DOCTYPE html>
<html>
    <head>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <title>SeanDThompsonJr</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       	<link rel="stylesheet" type="text/css" href="/stylesheets/filmProduction.css">
        <link href="https://fonts.googleapis.com/css?family=Lilita+One|Roboto+Condensed|Passion+One|Roboto+Mono|Assistant|Teko|Josefin+Sans|Open+Sans+Condensed:300&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto+Mono:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
		<link rel="shortcut icon" href="/images/logo/Aspiring-Creative-ICO-TabLogo.ico">
		<script src="https://kit.fontawesome.com/97f5822177.js" crossorigin="anonymous"></script>
        
    </head>
	<body>
		<header>
			<div class='logo'>
				<img id='personalLogo' src='/images/logo/Aspiring-Creative-ST-Logo.png' />
				<img id='mobileLogo' src='/images/logo/Aspiring-Creative-Mobile-Logo.png' />
			</div>
		<nav>
			<div>
				<ul>
					<li><a href="/">Home</a></li>
					<li class="sub-menu"><a class='current'>Portfolios</a>
						<ul>
							<li ><a href="/film_production" class='sub-catagory current'>Film Production</a></li>
							<li><a href="/computer_science" class='sub-catagory'>Computer Sci.</a></li>
						</ul>
					</li>
					<li><a href="/contact">Contact</a></li>	
				</ul>
			</div>
		</nav>
		<div id="menuToggle"><i class="fa fa-bars" aria-hidden="true"></i>
		</div>
		</header>
		
		
		<!-- ----------------------- Side Bar Selects ----------------------- -->
			
			<div orientation='left' class='side-selects'>
				<ul class='professional_Links'>
					<li id="instagramIcon"><a href='https://www.instagram.com/sean_sj_thompson/' target="_blank" arial-label='Instagram'><i class="fab fa-instagram"></i></a></li>
					<li> <a href='https://www.linkedin.com/in/sean-thompson-b8a6a7161/' target="_blank" arial-label='LinkedIn'><i class="fab fa-linkedin-in"></i></a></li>
					<li> <a href='https://vimeo.com/seanthompsonjr' target="_blank" arial-label='Vimeo'><i class="fab fa-vimeo"></i></a></li>
					<li> <a href='https://github.com/SDThompson12' target="_blank" arial-label='Github'><i class="fab fa-github"></i></a></li>
				</ul>
			</div>
	
<div class='container'>
	
	<!-- ----------------------- Film Work Section --------------------- -->
	
	
	<section id='filmWork'>
	<h3 id='filmWorkTitle'>
		Featured Works
	</h3>
		<div id='filmMenu'>
					<div class="tab col-md-3 col-sm-12">
						<ul role="tablist" aria-label="FilmWork tabs" class="filmWorkTabs">
							<li class='active'>
								<a data-toggle="tab" href="#filmWork1"  class="filmWorkButton" onclick="viewFilmWork(event,'filmWork1')">
									<span>Film Direction</span>
								</a>
							</li>
							<li>
								<a data-toggle="tab" href="#filmWork2"  class="filmWorkButton" onclick="viewFilmWork(event,'filmWork2')">
									<span>Aerial Videography</span>
								</a>
							</li>
							<li>
								<a data-toggle="tab" href="#filmWork3"  class="filmWorkButton" onclick="viewFilmWork(event,'filmWork3')">
									<span>3D Modeling</span>
								</a>
							</li>
							<li>
								<a data-toggle="tab" href="#filmWork4"  class="filmWorkButton" onclick="viewFilmWork(event,'filmWork4')">
									<span>Photography</span>
								</a>
							</li>
						</ul>
					</div>
					<div id='filmWorkDetails' class='col-md-9 col-sm-12'>
   						<div id="filmWork1" class="tab-content active" style="display: block;">
							<div class="animated animatedFadeInUp fadeInUp">
								<div class='filmWorkFeatures'>
									
									<!-- ---------- The Features List that is Shown: Tab 1 -------- -->
									<ul class="directionFeatures feature-tab-content active animated animatedFadeInUp fadeInUp" id="filmDirectionList1" style="display: block;" >
										<li>
											<a href='#' class='feature' onclick="viewFeature(event,'goodGirlsVideo','filmWork1')">
												<img class='featurePhoto' id='goodGirlsFeature' src='/images/filmfeature/GoodGirlsFeature.png' />
											</a>
										</li>
										<li>
											<a href="#" class="feature" onclick="viewFeature(event,'urbanRecipeVideo','filmWork1')">
												<img class="featurePhoto" id="urbanrecipeFeature" src="/images/filmfeature/UrbanRecipeFeature.png">
											</a>
										</li>
										<li>
											<a href='#' class='feature' onclick="viewFeature(event,'buildABooVideo','filmWork1')">
												<img class='featurePhoto' id='buildabooFeature' src='/images/filmfeature/Build-A-BooFeature.png' />
											</a>
										</li>			
									</ul>
									
									<!-- ------------- The Features List that is Shown: Tab 2 -------- -->
									<ul class="directionFeatures feature-tab-content animated animatedFadeInUp fadeInUp" id="filmDirectionList2" style="display: none;" >
										<li>
											<a href='#' class='feature' onclick="viewFeature(event,'antigoneVideo','filmWork1')">
												<img class='featurePhoto' id='antigoneFeature' src='/images/filmfeature/AntigoneFeature.png' />
											</a>
										</li>
										<li>
											<a href='#' class='feature' onclick="viewFeature(event,'plushieVideo','filmWork1')">
												<img class='featurePhoto' id='plushieFeature' src='/images/filmfeature/ThePlushieFeature.png' />
											</a>
										</li>
										<li>
											<a href='#' class='feature' onclick="viewFeature(event,'catfishParodyVideo','filmWork1')">
												<img class='featurePhoto' id='catfishFeature' src='/images/filmfeature/CatfishFeature.png' />
											</a>
										</li>
									</ul>	
									
									<!-- ---------- The Number Tablist to Change the Features Shown -------- -->
										<ul role="tablist" aria-label="FilmDirection tabs" class="filmDirectionTabs">
											<li class='directionNum active'>
												<a data-toggle="tab" href="#filmDirectionList1"  class="filmDirectionButton" onclick="viewFilmDirectionList(event,'filmDirectionList1')">
													<span>1</span>
												</a>
											</li>
											<li class='directionNum'>
												<a data-toggle="tab" href="#filmDirectionList2"  class="filmDirectionButton" onclick="viewFilmDirectionList(event,'filmDirectionList2')">
													<span>2</span>
												</a>
											</li>
										<!-- 
											<li class='directionNum'>
												<a data-toggle="tab" href="#filmDirectionList3"  class="filmDirectionButton" onclick="viewFilmDirectionList(event,'filmDirectionList3')">
													<span>3</span>
												</a>
											</li>
										-->
										</ul>	
								</div>
							</div>		
    					</div>
						
						<!-- ----------- Film Work Videos ------------ -->
						<!-- --Page 1-- -->
						<div id='urbanRecipeVideo' class='featuredVideo animated animatedFadeInUp fadeInUp' style='display: none;'>
							<video class="video-fluid z-depth-1" loop controls muted width='560' height='315'>
  								<source src="/videos/UrbanRecipe-FinalCut.mp4" type="video/mp4" />
							</video>
						</div>
						
						<div id='goodGirlsVideo' class='featuredVideo animated animatedFadeInUp fadeInUp' style='display: none;'>
							<iframe width="560" height="315" src="https://www.youtube.com/embed/b4ka64V-Qek" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div> 
						
						<div id='buildABooVideo' class='featuredVideo animated animatedFadeInUp fadeInUp' style='display: none;'>
							<iframe width="560" height="315" src="https://www.youtube.com/embed/nTeWlC2edzU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div>
						
						<!-- --Page 2-- -->
						<div id='plushieVideo' class='featuredVideo animated animatedFadeInUp fadeInUp' style='display: none;'>
							<iframe src="https://player.vimeo.com/video/429341990" width="560" height="315" frameborder="0" allow="fullscreen" allowfullscreen></iframe>
						</div>
						
						<div id='catfishParodyVideo' class='featuredVideo animated animatedFadeInUp fadeInUp' style='display: none;'>
							<iframe src="https://player.vimeo.com/video/429343697" width="560" height="315" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
						
						<div id='antigoneVideo' class='featuredVideo animated animatedFadeInUp fadeInUp' style='display: none;'>
							<iframe width="560" height="315" src="https://www.youtube.com/embed/_75wBMEU8nE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div>
						
   						<div id="filmWork2" class="tab-content" style="display: none;">
							<div class="animated animatedFadeInUp fadeInUp">
								<div class='filmWorkFeatures'>
										<!-- ---------- The Features List that is Shown: Tab 1 -------- -->
									<ul class="aerialFeatures aerialfeature-tab-content active animated animatedFadeInUp fadeInUp" id="aerialList1" style="display: block;" >
										<li>
											<a href='#' class='feature' onclick="viewFeature(event,'piedmontParkVideo','filmWork2')">
												<img class='featurePhoto' id='piedmontFeature' src='/images/filmfeature/PiedmontParkFeature.png' />
											</a>
										</li>
										<li>
											<a href='#' class='feature' onclick="viewFeature(event,'eliteScholarsVideo','filmWork2')">
												<img class='featurePhoto' id='eliteFeature' src='/images/filmfeature/EliteScholarsFeature.png' />
											</a>
										</li>			
									</ul>
									
											<!-- ---------- The Number Tablist to Change the Features Shown: Aerial Videography -------- -->
										<ul role="tablist" aria-label="Aerial tabs" class="aerialTabs">
											<li class='aerialNum active'>
												<a data-toggle="tab" href="#aerialList1"  class="aerialButton" onclick="viewAerialList(event,'aerialList1')">
													<span> </span>
												</a>
											</li>
									<!--
											<li class='aerialNum'>
												<a data-toggle="tab" href="#aerialList1"  class="aerialButton" onclick="viewAerialList(event,'aerialList2')">
													<span>2</span>
												</a>
											</li>
									-->
									</ul>	
								</div>
							</div>
    					</div>
						
						<!-- ----------- Aerial Videography Videos ------------ -->
						<!-- --Page 1-- -->
						<div id='piedmontParkVideo' class='featuredVideo animated animatedFadeInUp fadeInUp' style='display: none;'>
							<iframe src="https://player.vimeo.com/video/429428724" id='piedmontParkIFrame' width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
						
						<div id='eliteScholarsVideo' class='featuredVideo animated animatedFadeInUp fadeInUp' style='display: none;'>
							<iframe src="https://player.vimeo.com/video/429428900" id='eliteScholarsIFrame' width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
						
						<div id="filmWork3" class="tab-content" style="display: none;">
							<div class="animated animatedFadeInUp fadeInUp">
								<div class='filmWorkFeatures'>
											<!-- ---------- The Features List that is Shown: Tab 1 -------- -->
									<ul class="modelingFeatures modelingfeature-tab-content active" id="modelingList1" style="display: block;" >
										<li>
											<a href='#' class='feature' onclick="viewFeature(event,'pottedPlanterModel','filmWork3')">
												<img class='featurePhoto' id='pottedplanterFeature' src='/images/filmfeature/ThePottedPlanterFeature.png' />
											</a>
										</li>
										<li>
											<a href='#' class='feature' onclick="viewFeature(event,'livingRoomModel','filmWork3')">
												<img class='featurePhoto' id='livingroomFeature' src='/images/filmfeature/LivingRoomFireplaceFeature.png' />
											</a>
										</li>			
									</ul>
									
											<!-- ---------- The Number Tablist to Change the Features Shown: 3D Modeling -------- -->
										<ul role="tablist" aria-label="Modeling tabs" class="modelingTabs">
											<li class='modelingNum active'>
												<a data-toggle="tab" href="#modelingList1"  class="modelingButton" onclick="viewModelingList(event,'modelingList1')">
													<span> </span>
												</a>
											</li>
									<!--
											<li class='modelingNum'>
												<a data-toggle="tab" href="#modelingList2"  class="modelingButton" onclick="viewModelingList(event,'modelingList2')">
													<span>2</span>
												</a>
											</li>
									-->
										</ul>
								</div>
							</div>
    					</div>
						
						<!-- ----------- 3D Model Viewing ------------ -->
						
						<div id='pottedPlanterModel' class='featuredModel animated animatedFadeInUp fadeInUp' style='display: none;'>
								<div style="width: 100%; padding-bottom: 56.25%; position: relative"> 
									<div style="position: absolute; top: 0; bottom: 0; left: 0; right: 0;"> 
										<iframe src="https://app.modelo.io/embedded/33JItZcTZX?viewport=false&autoplay=false&autoRotate=false&c_at0=20.170048903152146&c_at1=6.04416493020715&c_at2=10.114702416360167&c_theta=7.139387143782137&c_phi=0.04493292519943305&c_dis=15.4203730912962" style="width:100%;height:100%;" frameborder="0" mozallowfullscreen webkitallowfullscreen allowfullscreen ></iframe> 
									<h4>
										*This is a demo. Textures not representative of final render. If the following application did not appear please view the renders images at this link: <a href='https://www.instagram.com/p/B-z-2OXhQ3E/' target="_blank">Potted Planter Model</a>
									</h4>
									</div> 
								</div>
						</div>
						
						<div id='livingRoomModel' class='featuredModel animated animatedFadeInUp fadeInUp' style='display: none;'>
								<div style="width: 100%; padding-bottom: 56.25%; position: relative"> 
									<div style="position: absolute; top: 0; bottom: 0; left: 0; right: 0;"> 
										<iframe src="https://app.modelo.io/embedded/5iHFs6ezVZ?viewport=false&autoplay=false&autoRotate=false" style="width:100%;height:100%;" frameborder="0" mozallowfullscreen webkitallowfullscreen allowfullscreen ></iframe> 
										<h4>
											*This is a demo. Textures not representative of final render. If the following application did not appear please view the renders images at this link: <a href='https://www.instagram.com/p/BskVNqXnjAw/' target="_blank">Living Room Fireplace Model</a>	
										</h4>
									</div>
								</div>
						</div>

						<div id="filmWork4" class="tab-content" style="display: none;">
							<div class="animated animatedFadeInUp fadeInUp">
								<div class='filmWorkFeatures'>
									<a href='#' class='feature' onclick="viewFeature(event,'photoGallery1','filmWork4')">
										<img class='featurePhoto' id='cozumelFeature' src='/images/filmfeature/CozumelOceanFeature.png' />
									</a>	
								</div>
							</div>
						</div>
						<!-- ----------- Photography Viewing ------------ -->
						
						<!-- ------------- The Photo that is Shown: Tab 1 -------- -->
						<div id='photoViewing'>
							<div id='photoGallery1' class='photoGallery photographyfeature-tab-content active animated animatedFadeInUp fadeInUp' style='display: none;'>
								<!--Carousel-->
								<div class="browser">
									<div id="cozumelCarousel" class="carousel slide" data-ride="carousel">
										<!-- Indicators -->
										<ol class="carousel-indicators">
											<li data-target="#cozumelCarousel" data-slide-to="0" class="active"></li>
											<li data-target="#cozumelCarousel" data-slide-to="1" class=""></li>
										</ol>
										<div class="carousel-inner" role="listbox">
											<div class="item active">
												<img class="first-slide" src="images/filmfeature/cozumel/CozumelCruiseShip.jpg" alt="First slide" id='#cozumelCruisePhoto '>
											</div>
											<div class="item">
												<img class="second-slide" src="images/filmfeature/cozumel/CozumelOcean.jpg" alt="Second slide" id='#cozumelOceanPhoto'>
											</div>
										</div>
										<a class="left carousel-control" href="#cozumelCarousel" role="button" data-slide="prev">
											<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
											<span class="sr-only">Previous</span>
										</a>
										<a class="right carousel-control" href="#cozumelCarousel" role="button" data-slide="next">
											<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
											<span class="sr-only">Next</span>
										</a>
									</div>
								</div><!-- /.carousel -->
							</div>
							
    					</div>
					</div>
						
		</div>
	</section>
	
	<!-- ----------------------- Awards and Certification ----------------- -->
	<!--
	<div id='awardsCertification'>
		<img src='/images/filmfeature/avid-cert-logo-mc-user.jpg' style='width: 200px;'>
		<p>Awarded: May 2020</p>
	-->
		<!-- <img src='/images/Fake-Film-Awards.png' style='width: 1100px;'> -->
	<!-- </div> -->

	<!-- ----------------------- Info Cards Section ----------------------- -->
	
	<section id='infoCard'>
		<h3 id='cardSectionTitle'>
			Production Tools
		</h3>
		<div class='row'>
			<div class='card'>
				<div class='backgroundImg'>
					<img src="/images/filmfeature/CameraCard.png">
				</div>
				<div class='cardDetails'>
					<h5>Camera</h5>
						<p>Panasonic Lumix G DMC-GH4</p>
					<h5>Lens</h5>
						<p>Panasonic Lumix G II Vario Lens: 45-200mm/ F4.0-5.6/ Mirrorless</p>
						<p>Panasonic Lumix G Vario: 14-42mm / F3.5-5.6 II ASPH.</p>
					<h5>Drone</h5>
						<p>DJI Mavic Air</p>
					<h5>Lights</h5>
						<p>Emart 1000W Softbox Lighting Kit</p>
						<p>Pixel K80 RGB LED Light Kit 2 Head Kit</p>
					<h5>Tech</h5>
						<p>MSI Laptop:  GL62M 7RDX</p>
						<p>Wacom M Intuos Pro</p>
				</div>
			</div>
			<div class='card'>
				<div class='backgroundImg'>
					<img src="/images/filmfeature/SkillsCard.png">
				</div>
				<div class='cardDetails'>
					<h5>Advance Proficiency</h5>
						<p>Adobe Premiere Pro</p>
						<p>Java</p>
						<p>JavaScript</p>
						<p>Screenflow 9</p>
					<h5>Intermediate Proficiency</h5>
						<p>Adobe After Effects</p>
						<p>Avid Media Composer</p>
						<p>Bootstrap/CSS</p>
					<h5>Novice Proficiency</h5>
						<p>Adobe Audition</p>
						<p>Adobe Photoshop</p>
						<p>Blender</p>
						<p>Maya</p>
				</div>
			</div>
		</div>
	</section>
	<!-- ----------------------- Bottom Selects ----------------------- -->
		<div orientation='center' class='bottom-selects'>
				<ul class='professional_Links'>
					<li id="instagramIcon"><a href='https://www.instagram.com/sean_sj_thompson/' target="_blank" arial-label='Instagram'><i class="fab fa-instagram"></i></a></li>
					<li> <a href='https://www.linkedin.com/in/sean-thompson-b8a6a7161/' target="_blank" arial-label='LinkedIn'><i class="fab fa-linkedin-in"></i></a></li>
					<li> <a href='https://vimeo.com/seanthompsonjr' target="_blank" arial-label='Vimeo'><i class="fab fa-vimeo"></i></a></li>
					<li> <a href='https://github.com/SDThompson12' target="_blank" arial-label='Github'><i class="fab fa-github"></i></a></li>
				</ul>
		</div>
</div>

		<!-- jQuery CDN -->
       	<script
              src="https://code.jquery.com/jquery-3.3.1.js"
              integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
              crossorigin="anonymous">
        </script>
        <!-- Bootstrap JS CDN -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
        </script>
		<!-- Typed.js CDN -->
		<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
		<!-- Parallax CDN -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="/scriptpages/parallax.min.js"></script>

		<script type="text/javascript">
			$(document).ready(function()
			{
				$('#menuToggle').click(function()
				{
					$('nav').toggleClass('active');
				})
				$('ul li').click(function()
				{
					$(this).siblings().removeClass('active');
					$(this).toggleClass("active");
				})
			});
	</script>
	
	<!-- -------------------  JS for Other Tabs for Features ---------------------------- -->	
	
	<!-- Film Direction -->	
	<script>
	function viewFilmDirectionList(event, filmDirectionNum) 
		{
  		// Declare all variables
  			var i, tabcontent, filmDirectionButton;
		
  		// Get all elements with class="feature-tab-content" and hide them
  			tabcontent = document.getElementsByClassName("feature-tab-content");
  				for (i = 0; i < tabcontent.length; i++) 
				{
    				tabcontent[i].style.display = "none";
					if(event.currentTarget.className == "active")
						{
							tabcontent[i].style.display = 'block';
						}
  				}

 		// Get all elements with class="filmWorkButton" and remove the class "active"
  			filmDirectionButton = document.getElementsByClassName("filmDirectionButton");
  				for (i = 0; i < filmDirectionButton.length; i++) 
				{
    				filmDirectionButton[i].className = filmDirectionButton[i].className.replace(" active", "");
  				}

  		// Show the current tab, and add an "active" class to the button that opened the tab
  			document.getElementById(filmDirectionNum).style.display = "block";
 				event.currentTarget.className += " active";
		} 
	</script>
		
	<!-- Aerial Videography -->		
	<script>
	function viewAerialList(event, aerialNum) 
		{
  		// Declare all variables
  			var i, tabcontent, aerialButton;
		
  		// Get all elements with class="aerialfeature-tab-content" and hide them
  			tabcontent = document.getElementsByClassName("aerialfeature-tab-content");
  				for (i = 0; i < tabcontent.length; i++) 
				{
    				tabcontent[i].style.display = "none";
					if(event.currentTarget.className == "active")
						{
							tabcontent[i].style.display = 'block';
						}
  				}

 		// Get all elements with class="aerialButton" and remove the class "active"
  			aerialButton = document.getElementsByClassName("aerialButton");
  				for (i = 0; i < aerialButton.length; i++) 
				{
    				aerialButton[i].className = aerialButton[i].className.replace(" active", "");
  				}

  		// Show the current tab, and add an "active" class to the button that opened the tab
  			document.getElementById(aerialNum).style.display = "block";
 				event.currentTarget.className += " active";
		} 
	</script>	
		
	<!-- 3D Modeling -->		
	<script>
	function viewModelingList(event, modelingNum) 
		{
  		// Declare all variables
  			var i, tabcontent, modelingButton;
		
  		// Get all elements with class="modelingfeature-tab-content" and hide them
  			tabcontent = document.getElementsByClassName("modelingfeature-tab-content");
  				for (i = 0; i < tabcontent.length; i++) 
				{
    				tabcontent[i].style.display = "none";
					if(event.currentTarget.className == "active")
						{
							tabcontent[i].style.display = 'block';
						}
  				}

 		// Get all elements with class="modelingButton" and remove the class "active"
  			modelingButton = document.getElementsByClassName("modelingButton");
  				for (i = 0; i < modelingButton.length; i++) 
				{
    				modelingButton[i].className = modelingButton[i].className.replace(" active", "");
  				}
		
  		// Show the current tab, and add an "active" class to the button that opened the tab
  			document.getElementById(modelingNum).style.display = "block";
 				event.currentTarget.className += " active";
		} 
	</script>		
	
	<!-- Photography -->		
	<script>
	function viewPhotographyList(event, photographyNum) 
		{
  		// Declare all variables
  			var i, tabcontent, photographyButton;
		
  		// Get all elements with class="photographyfeature-tab-content" and hide them
  			tabcontent = document.getElementsByClassName("photographyfeature-tab-content");
  				for (i = 0; i < tabcontent.length; i++) 
				{
    				tabcontent[i].style.display = "none";
					if(event.currentTarget.className == "active")
						{
							tabcontent[i].style.display = 'block';
						}
  				}

 		// Get all elements with class="photographyButton" and remove the class "active"
  			photographyButton = document.getElementsByClassName("photographyButton");
  				for (i = 0; i < photographyButton.length; i++) 
				{
    				photographyButton[i].className = photographyButton[i].className.replace(" active", "");
  				}
		
  		// Show the current tab, and add an "active" class to the button that opened the tab
  			document.getElementById(photographyNum).style.display = "block";
 				event.currentTarget.className += " active";
		} 
	</script>		
		<!-- -------------------  JS for Film Work Catagories ---------------------------- -->
	
	<!-- Shows/Reshow Feature Photos and Hides/Clears all Videos from being active/visible -->
	<script>
	function viewFilmWork(event, filmWorkNum) 
		{
  		// Declare all variables
  			var i, tabcontent, filmWorkButton, featurePhotos, featureVideos, featureModel, photoGallery;
		
  		// Get all elements with class="tab-content" and hide them
  			tabcontent = document.getElementsByClassName("tab-content");
  				for (i = 0; i < tabcontent.length; i++) 
				{
    				tabcontent[i].style.display = "none";
					if(event.currentTarget.className == "active")
						{
							tabcontent[i].style.display = 'block';
						}
  				}

 		// Get all elements with class="filmWorkButton" and remove the class "active"
  			filmWorkButton = document.getElementsByClassName("filmWorkButton");
  				for (i = 0; i < filmWorkButton.length; i++) 
				{
    				filmWorkButton[i].className = filmWorkButton[i].className.replace(" active", "");
  				}
			
		// Get all elements with class="featurePhoto" and remove the class "active"
  			featurePhotos = document.getElementsByClassName("featurePhoto");
  				for (i = 0; i < featurePhotos.length; i++) 
				{
    				featurePhotos[i].className = featurePhotos[i].className.replace(" active", "");
  				}
			
			
		// Get all elements with class="featuredVideo" and remove the class "active"
  			featureVideos = document.getElementsByClassName("featuredVideo");
  				for (i = 0; i < featureVideos.length; i++) 
				{
    				featureVideos[i].className = featureVideos[i].className.replace(" active", "");
  				}
			
		// Get all elements with class="featuredModel" and remove the class "active"
  			featureModel = document.getElementsByClassName("featuredModel");
  				for (i = 0; i < featureModel.length; i++) 
				{
    				featureModel[i].className = featureModel[i].className.replace(" active", "");
  				}
			
		// Get all elements with class="featuredModel" and remove the class "active"
  			photoGallery = document.getElementsByClassName("photoGallery");
  				for (i = 0; i < photoGallery.length; i++) 
				{
    				photoGallery[i].className = photoGallery[i].className.replace(" active", "");
  				}
		
		// Get all elements with class="featuredVideo" and hide them
  			featureVideos = document.getElementsByClassName("featuredVideo");
  				for (i = 0; i < featureVideos.length; i++) 
				{
    				featureVideos[i].style.display = "none";
					if(event.currentTarget.className == "active")
						{
							featureVideos[i].style.display = 'block';
						}
  				}
		
		// Get all elements with class="featuredModel" and hide them
  			featureModel = document.getElementsByClassName("featuredModel");
  				for (i = 0; i < featureModel.length; i++) 
				{
    				featureModel[i].style.display = "none";
					if(event.currentTarget.className == "active")
						{
							featureModel[i].style.display = 'block';
						}
  				}
		
		// Get all elements with class="featuredModel" and hide them
  			photoGallery = document.getElementsByClassName("photoGallery");
  				for (i = 0; i < photoGallery.length; i++) 
				{
    				photoGallery[i].style.display = "none";
					if(event.currentTarget.className == "active")
						{
							photoGallery[i].style.display = 'block';
						}
  				}
		
		
  		// Show the current tab, and add an "active" class to the button that opened the tab
  			document.getElementById(filmWorkNum).style.display = "block";
 				event.currentTarget.className += " active";
		} 
	</script>
		
	<!-- Show the Featured Content when a Feature Photo is pressed -->
	<script>
	function viewFeature(event, featureName, filmWorkSection) 
		{
  		// Declare all variables
  			var i, featuredVideo, featureButton, featureATag, photographyNum;
		
  		// Get all elements with class="featuredVideo" and hide them
  			featuredVideo = document.getElementsByClassName("featuredVideo");
  				for (i = 0; i < featuredVideo.length; i++) 
				{
    				featuredVideo[i].style.display = "none";
					if(event.currentTarget.className == "active")
						{
							featuredVideo[i].style.display = 'block';
						}
  				}
		
		// Get all elements with class="photographyNum" and hide them
  			photographyNum = document.getElementsByClassName("photographyNum");
  				for (i = 0; i < photographyNum.length; i++) 
				{
    				featuredVideo[i].style.display = "none";
					if(event.currentTarget.className == "active")
						{
							featuredVideo[i].style.display = 'block';
						}
  				}

 		// Get all elements with class="featurePhoto" and remove the class "active"
  			featureButton = document.getElementsByClassName("featurePhoto");
  				for (i = 0; i < featureButton.length; i++) 
				{
    				featureButton[i].className = featureButton[i].className.replace(" active", "");
  				}
		
		// Get all elements with class="feature" and remove the class "active"
  			featureATag = document.getElementsByClassName("feature");
  				for (i = 0; i < featureATag.length; i++) 
				{
    				featureATag[i].className = featureATag[i].className.replace(" active", "");
  				}
			
  		// Show the current tab, and add an "active" class to the button that opened the tab
  			document.getElementById(featureName).style.display = "block";
 				event.currentTarget.className += " active"; 
		
		// Show the current tab, and add an "active" class to the button that opened the tab
  		document.getElementById(filmWorkSection).style.display = "none";
 				event.currentTarget.className += "";
		}
	</script>
    </body>
</html>