<% include ./partials/header.ejs %>
			<!-- <div>
				<img class='nameImage' src='/NameBG.png' />
			</div> -->
			<div class="landing-text column y-center">
				<h1 class="landing__header">Sean Thompson</h1> 
				<h2 class="landing__sub-header">Aspiring Creative</h2> 
					<div class="landing-featured row">
						<span class="roles">CGI/VFX</span> | <span class="roles">Web Development</span> | <span class="roles">Cinematographer</span>
					</div> 
				<h5 class="type"></h5>
			</div>

<% include ./partials/footer.ejs %>