<% include ./partials/header.ejs %>
			<!-- <div>
				<img class='nameImage' src='/NameBG.png' />
			</div> -->
		<div class='container'>
			
			<div orientation='left' class='side-selects'>
				<ul class='professional_Links'>
					<li id="instagramIcon"> <a href='#' arial-label='Instagram'></a><i class="fab fa-instagram"></i></li>
					<li> <a href='#' arial-label='LinkedIn'><i class="fab fa-linkedin-in"></i></a></li>
					<li> <a href='#' arial-label='Vimeo'><i class="fab fa-vimeo"></i></a></li>
					<li> <a href='#' arial-label='Github'><i class="fab fa-github"></i></a></li>
				</ul>
			</div>
			
			<!-- Introduction Section -->
			
			<section>
				<div class="col-sm-8 landing-text column y-center">
					<h1 class="landing__header">Sean Thompson</h1> 
					<h2 class="landing__sub-header">Aspiring Creative</h2> 
						<div class="landing-featured row">
							<span class="roles">CGI/VFX</span> | <span class="roles">Fullstack Developer</span> | <span class="roles">Cinematographer</span> | <span class="roles">Editor</span> 
						</div> 
					<!-- <h5 class="type"></h5> -->
				</div>
			</section>
			
			<!-- Quote Section -->
			
			<section>
				<div class='quote'>
					<h1 class='section-header self-Quote' id="smaller-section">
						Everyone starts from 
					</h1>	
					<h1 class='section-header self-Quote'>
						<strong id="zero">ZERO</strong>
					</h1>
				</div>
			</section>
			
			<!-- About Me Section -->
			
			<section>
				<div class='infoSection row'>
					<h1 class='section-header' id="about-section">
						About Me
					</h1>
					<div class='col-sm-8 infotext'>
						<p>
							Hello! My name is Sean Thompson Jr. I am an 'Aspiring Creative' based in <span class='emphasis'>Atlanta, GA</span>.
						</p>
						<p>
						I call myself an 'Aspiring Creative' due to my vast interest in multiple fields and my ambitions to acquire knowledge, skill, and proficiency in each aspects as I grow into the world of Film and Technology. My goal is to use all of these skills I've learned over the years cohesively to build a name for myself in CGI industry and to provide extraordinary software to better the lives of others.
						</p>
						<p>
						I am currently in my Senior year at <span class='emphasis'>Clayton State University</span> pursuing a dual degree: B.S in Computer Science and B.A in Film Production. My focus between the two degrees being in Computer Graphics/Animation, Cinematography, Editing and Software/Game Development.
						</p>	
					</div>
					<div class='col-sm-4 technologyGrid'>
						<p>
							Technologies used in previous projects:
						</p>
						<ul class='previousTechnology'>
							<li class='technology'>Adobe Creative Suite</li>
							<li class='technology'>Avid Media Composer</li>
							<li class='technology'>Bootstrap/CSS</li>
							<li class='technology'>Blender</li>
							<li class='technology'>Express</li>
							<li class='technology'>Node.js</li>
							<li class='technology'>Java</li>
							<li class='technology'>JavaScript</li>
							<li class='technology'>JQuery</li>
							<li class='technology'>Unity</li>
						</ul>
					</div>
				</div>
			</section>
			
			<!-- Experiences & Growth -->
			
			<section>
				<div class='infoSection'>
				<h1 class='section-header' id="film-section">
					Film Production
				</h1>
				<p class= 'col-sm-8 infotext'>
					There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. 
				</p>
				</div>
			</section>
		</div>
<% include ./partials/footer.ejs %>