body
{
	margin: 0;
	padding-top: 70px;
	font-family: sans-serif;
	background: #000000;
	min-height: 1000px;
}

header
{
	position: fixed;
	top: 0;
	left: 0;
	padding: 0px 100px;
	width: 100%;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #000000;
	transition: 0.6s;
}

header .logo
{
	position: relative;
	color: #ffffff;
	height: 50px;
	line-height: 50px;
	font-size: 2em;
	transition: 0.6s;
	letter-spacing: 2px;
	font-family: 'Teko', sans-serif;
	text-shadow: 0 2px 5px rgba(255,0,0,2);
}

header ul
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

header nav
{
 top: 0;
 left: 0;
 width: 100%;
 height: 70px;
 background: rgba(0,0,0,0.6);
 box-sizing: border-box;
}

header nav ul
{	
	float: right;
	margin: 0;
	padding: 0;
	display: flex;
}

header nav ul li.active ul
{
	display: block;
}

header nav ul li
{
	list-style: none;
	position: relative;
}

header nav ul li ul
{
	Left: 0;
	background: #000000;
	position: absolute;
	display: none;
}

header nav ul li ul li 
{
	display: block;
	width: 200px;
}
 
header nav ul li a
{
	position: relative;
 	display: block;
 	height: 70px;
 	line-height: 70px;
 	padding: 0 20px;
 	box-sizing: border-box;
 	color: #fff;
 	text-decoration: none;
 	text-transform: uppercase;
 	transition: .5s;
	letter-spacing: 2px;
}

header nav ul li a.sub-catagory
{
	letter-spacing: 1px;
}

header nav ul li a:before
{
	content: '';
	position: absolute;
	top: 0;
	Left: 0;
	width: 100%;
	height: 100%;
	background: #ffffff;
	transform-origin: right;
	z-index: -1;
	transform: scaleX(0);
	transition: transform 0.5s;
}

header nav ul li a:hover:before
{
	transform-origin: left;
	transform: scaleX(1);
}

header nav ul li a:hover
{
	color:#000000;
}

header nav ul li a:hover,
header nav ul li a.current
{
	color: #A91101;
	background: #ffffff;
}

container
{
	width: 100%;
}

h1
{
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	margin: 0;
	padding-top: 100px;
	font-family: sans-serif;
	color: #ffffff;
	font-size: 40px;
	list-style: none;
}

/* -------------------------------- Sections ------------------------------ */

section
{
	width: 100%;
	height: 100%;
	padding: 150px 100px 100px;
}

/* ---------------------- Film Work Section ------------------- */

#filmWork
{
	height: 850px;
}

#filmMenu
{
	height: 650px;
}

.filmWorkFeatures p
{
	padding: 10px 0px 10px 15px;
	font-family: 'Roboto', sans-serif;
    font-size: 1em;
	color: #e6e6e6;
	padding-top: 20px;
	letter-spacing: 1px;
}

.filmWorkTabs
{
    display: block;
    position: relative;
    width: max-content;
    z-index: 3;
    padding: 0px;
    margin: 0px;
    list-style: decimal-leading-zero;
}

.filmWorkTabs li.active
{
	color: #FF0000;
}

.filmWorkTabs li
{
	padding-top: 20px;
}

.filmWorkButton
{
	text-decoration-skip-ink: auto;
    position: relative;
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    background-color: transparent;
    height: 42px;
    text-align: left;
    white-space: nowrap;
    font-family: "Roboto Mono";
    font-size: 13px;
    color: #e6e6e6;
    text-decoration: none;
    padding: 0px 20px 2px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    border-left: 2px solid rgb(0, 0, 0);
}

.filmWorkButton:hover
{
	color: #FF0000;
	background-color: #e6e6e6;
}

.tab-content 
{
 	display: none;
 	padding: 6px 12px;
 	float: left;
}

.tab-content h3
{
	font-family: 'Roboto', sans-serif;
    font-size: 2em;
	color: #FFFFFF;
}

button 
{
    cursor: pointer;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    border-radius: 0px;
}

/* ---------------------------- Feature Section ---------------- */
#filmWorkTitle
{
	font-family: 'Roboto Mono', sans-serif;
    color: #FFFFFF;
	font-weight: 100;
    font-size: 3em;
    text-align: end;
    padding-right: 30px;
    text-decoration: underline;
	text-underline-position: under;
}

.featurePhoto
{
	width: 100%;
    height: 135px;
    object-fit: cover;
    border: 5px solid black;
	margin-bottom: 20px;
}

.featurePhoto:hover
{
	opacity: .5;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

ul.directionFeatures li
{
    list-style: none;
}

ul.filmDirectionTabs li
{
	list-style: none;
	display: inline;
	color: #FFFFFF;
	font-size: 1.2em;
	padding-left: 30px;
}

ul.filmDirectionTabs li.active span
{
	color: #FF0000;
}

a.filmDirectionButton span
{
	color: #FFFFFF;
}

/* ------- Feature Images ---------- */
#antigoneFeature
{
	object-position: 20% -30px;
}
#buildabooFeature
{
	object-position: 20% -28px;
}
#piedmontFeature
{
	object-position: 20% -30px;
}
#eliteFeature
{
	object-position: 20% -28px;
}
#pottedplanterFeature
{
	object-position: 20% -90px;
}
#livingroomFeature
{
	object-position: 20% -97px;
}

#cozumelFeature
{
	object-position: 20% -253px;
}

#urbanrecipeFeature
{
	object-position: 20% -32px;
}

#filmdirectionFeature
{
	object-position: 20% -43px;
}

/* ---------------------------- Animations -------------------------- */

/* ---Animation of Tabs-------- */

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}


/* ------------------------------- Side Column ---------------------------- */

a:focus, a:hover
{
    color: #FF0000;
    text-decoration: underline;
}

a 
{
    color: #444;
    text-decoration: none;
}

.side-selects
{
	width: 40px;
    position: fixed;
    bottom: -25px;
    left: 15px;
    right: auto;
    z-index: 10;
    color: #444;
	font-size: 25px;
}

.side-selects:after
{
	content: "";
    display: block;
    width: 1px;
    height: 200px;
    background-color: #FFFFFF;
    margin: 0px auto;
}

#instagramIcon:hover
{
	color: rgb(255,0,0)
}

.professional_Links
{
	display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.professional_Links li
{
	padding-bottom: 20px;
}

/*-------- Bottom Selects -----*/
.bottom-selects
{
	display: none;
}


/* ----------------------------  Responsive CSS -----------------------------*/
#menuToggle
{
	color: #FFFFFF;
	float: right;
	line-height: 50px;
	font-size: 20px;
	cursor: pointer;
	display: none;
}

@media (max-width: 991px)
{
	
	/* ----------- Header / Navbar Responsiveness ---------- */
	header
	{
		padding: 0 20px;
	}
	#menuToggle
	{
		display: block;
	}
	header nav
	{
		position: absolute;
		width: 100%;
		height: calc(100vh - 50px);
		background: #000000;
		top: 50px;
		Left: -100%;
		transition: 0.5s;
		text-align: center;
		justify-content: center;
	}
	
	header nav.active
	{
		left: 0;
	}
	
	header nav ul
	{
		display: block;
		text-align: center;
		float: none;
	}
	header nav ul li a
	{
		border-bottom: 1px solid rgba(0,0,0,0.2);
	}
	
	header nav ul li.active ul
	{
		position: relative;
		background: #000000;
	}
	
	header nav ul li ul li
	{
		width: 100%;
	}	
}

/* ------------------------------ Smaller than Tablet Sized Responsiveness ----------- */
@media (max-width: 767px)
{
	/* Sidebar Sections--------------- */
	.professional_Links
	{
		display: flex;
    	flex-direction: row;
    	-webkit-box-align: center;
    	align-items: center;
    	padding: 0px;
    	margin: 0px;
    	list-style: none;
	}
	
	.professional_Links li
	{
		padding-left: 25px;
	}
	
	.bottom-selects
	{
		display: block;
   		width: max-content;
    	position: absolute;
    	margin: 0 auto;
    	z-index: 10;
    	color: #444;
    	font-size: 25px;
    	left: 25%;
	}
	
	.side-selects
	{
		display: none;
	}
	.side-selects:after
	{
		display: none;
	}
}