body
{
	margin: 0;
	padding-top: 70px;
	font-family: sans-serif;
	background: #000000;
	min-height: 1000px;
}

header
{
	position: fixed;
	top: 0;
	left: 0;
	padding: 0px 100px;
	width: 100%;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #000000;
	transition: 0.6s;
}

header .logo
{
	position: relative;
	color: #ffffff;
	height: 50px;
	line-height: 50px;
	font-size: 2em;
	transition: 0.6s;
	letter-spacing: 2px;
	font-family: 'Teko', sans-serif;
	text-shadow: 0 2px 5px rgba(255,0,0,2);
}

header ul
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

header nav
{
 top: 0;
 left: 0;
 width: 100%;
 height: 70px;
 background: rgba(0,0,0,0.6);
 box-sizing: border-box;
}

header nav ul
{	
	float: right;
	margin: 0;
	padding: 0;
	display: flex;
}

header nav ul li.active ul
{
	display: block;
}

header nav ul li
{
	list-style: none;
	position: relative;
}

header nav ul li ul
{
	Left: 0;
	background: #000000;
	position: absolute;
	display: none;
}

header nav ul li ul li 
{
	display: block;
	width: 200px;
}
 
header nav ul li a
{
	position: relative;
 	display: block;
 	height: 70px;
 	line-height: 70px;
 	padding: 0 20px;
 	box-sizing: border-box;
 	color: #fff;
 	text-decoration: none;
 	text-transform: uppercase;
 	transition: .5s;
	letter-spacing: 2px;
}

header nav ul li a.sub-catagory
{
	letter-spacing: 1px;
}

header nav ul li a:before
{
	content: '';
	position: absolute;
	top: 0;
	Left: 0;
	width: 100%;
	height: 100%;
	background: #ffffff;
	transform-origin: right;
	z-index: -1;
	transform: scaleX(0);
	transition: transform 0.5s;
}

header nav ul li a:hover:before
{
	transform-origin: left;
	transform: scaleX(1);
}

header nav ul li a:hover
{
	color:#000000;
}

header nav ul li a:hover,
header nav ul li a.current
{
	color: #A91101;
	background: #ffffff;
}

container
{
	width: 100%;
}

h1
{
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	margin: 0;
	padding-top: 100px;
	font-family: sans-serif;
	color: #ffffff;
	font-size: 40px;
	list-style: none;
}

/* -------------------------------- Sections ------------------------------ */

section
{
	width: 100%;
	height: 100%;
	padding: 40px 100px 100px;
}

/* ---------------------- Film Work Section ------------------- */

#filmWork
{
	height: 850px;
}

#filmMenu
{
	height: 650px;
}

.filmWorkFeatures p
{
	padding: 10px 0px 10px 15px;
	font-family: 'Roboto', sans-serif;
    font-size: 1em;
	color: #e6e6e6;
	padding-top: 20px;
	letter-spacing: 1px;
}

.filmWorkTabs
{
    display: block;
    position: relative;
    width: max-content;
    z-index: 3;
    padding: 0px;
    margin: 0px;
    list-style: decimal-leading-zero;
}

.filmWorkTabs li.active
{
	color: #FF0000;
}

.filmWorkTabs li
{
	padding-top: 20px;
}

.filmWorkButton
{
	text-decoration-skip-ink: auto;
    position: relative;
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    background-color: transparent;
    height: 42px;
    text-align: left;
    white-space: nowrap;
    font-family: "Roboto Mono";
    font-size: 13px;
    color: #e6e6e6;
    text-decoration: none;
    padding: 0px 20px 2px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    border-left: 2px solid rgb(0, 0, 0);
}

.filmWorkButton:hover
{
	color: #FF0000;
	background-color: #e6e6e6;
}

.tab-content 
{
 	display: none;
 	padding: 6px 12px;
 	float: left;
}

.tab-content h3
{
	font-family: 'Roboto', sans-serif;
    font-size: 2em;
	color: #FFFFFF;
}

button 
{
    cursor: pointer;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    border-radius: 0px;
}

/* ---------------------------- Feature Section ---------------- */
#filmWorkTitle, #cardSectionTitle
{
	font-family: 'Roboto Mono', sans-serif;
    color: #FFFFFF;
	font-weight: 100;
    font-size: 3.1em;
    text-align: end;
    padding-right: 30px;
    text-decoration: underline;
	text-underline-position: under;
}

.featurePhoto
{
	width: 100%;
    height: 135px;
    object-fit: cover;
    border: 5px solid black;
	margin-bottom: 20px;
}

.featurePhoto:hover
{
	opacity: .5;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

.featuredVideo
{
	margin-left: 75px;
    padding: 25px 0px 25px 24px;
}

/* ------Film Direction Features------ */


/* ============================ Microsoft Edge/Internet Explorer Specific CSS ================================ */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) 
{
   /* IE10+ CSS styles go here */
	#filmDirectionList1
	{
		width: 582px;
	}   
	.filmWorkTabs li
	{
		display: flex;
	} 
	#aerialList1
	{
		width: 582px;
	} 
	#modelingList1
	{
		width: 582px;
	}
	#cozumelFeature
	{
		width: 582px;
	} 
	#cozumelFeature
	{
		object-position: 20% -228px;
	} 
}

@supports (-ms-accelerator:true) 
{
  /* IE Edge 12+ CSS styles go here */ 
	#filmDirectionList1
	{
		width: 582px;
	} 
	.filmWorkTabs li
	{
		display: flex;
	} 
	#aerialList1
	{
		width: 582px;
	} 
	#modelingList1
	{
		width: 582px;
	}
	#cozumelFeature
	{
		width: 582px;
	} 
	#cozumelFeature
	{
		object-position: 20% -228px;
	} 
}

@supports (-ms-ime-align:auto) 
{
   	#filmDirectionList1
	{
		width: 582px;
	} 
	.filmWorkTabs li
	{
		display: flex;
	} 
	#aerialList1
	{
		width: 582px;
	} 
	#modelingList1
	{
		width: 582px;
	}
	#cozumelFeature
	{
		width: 582px;
	} 
	#cozumelFeature
	{
		object-position: 20% -228px;
	} 
}

/* =============================================================== */

ul.directionFeatures li
{
    list-style: none;
}

ul.filmDirectionTabs 
{
	padding-right: 20px;
    float: right;
}

ul.filmDirectionTabs li
{
	list-style: none;
	display: inline;
	color: #FFFFFF;
	font-size: 1.2em;
	padding-left: 30px;
}

ul.filmDirectionTabs li.active span
{
	color: #FF0000;
}

a.filmDirectionButton span
{
	color: #FFFFFF;
}

/* ------Aerial Features------ */
ul.aerialFeatures li
{
    list-style: none;
}

ul.aerialTabs li
{
	list-style: none;
	display: inline;
	color: #FFFFFF;
	font-size: 1.2em;
	padding-left: 30px;
}

ul.aerialTabs li.active span
{
	color: #FF0000;
}

a.aerialButton span
{
	color: #FFFFFF;
}

/* ------3D Modeling Features------ */
ul.modelingFeatures li
{
    list-style: none;
}

ul.modelingTabs li
{
	list-style: none;
	display: inline;
	color: #FFFFFF;
	font-size: 1.2em;
	padding-left: 30px;
}

ul.modelingTabs li.active span
{
	color: #FF0000;
}

a.modelingButton span
{
	color: #FFFFFF;
}

.featuredModel h4 
{
    font-size: 12px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

/* ------Photography Features------ */
ul.photographyFeatures li
{
    list-style: none;
}

ul.photographyTabs 
{
	padding-right: 20px;
    float: right;
}

ul.photographyTabs li
{
	list-style: none;
	display: inline;
	color: #FFFFFF;
	font-size: 1.2em;
	padding-left: 30px;
}

a.photographyButton span
{
	color: #FFFFFF;
}

/* ------- Photography Image ------- */
div.photoGallery
{
    height: 485px;
}
.browser 
{
    width: 425px;
    float: right;
}

/* ------- Feature Images ---------- */
#antigoneFeature
{
	object-position: 20% -30px;
}
#buildabooFeature
{
	object-position: 20% -28px;
}
#piedmontFeature
{
	object-position: 20% -30px;
}
#eliteFeature
{
	object-position: 20% -28px;
}
#pottedplanterFeature
{
	object-position: 20% -90px;
}
#livingroomFeature
{
	object-position: 20% -97px;
}

#cozumelFeature
{
	object-position: 20% -253px;
}

#urbanrecipeFeature
{
	object-position: 20% -32px;
}

#filmdirectionFeature
{
	object-position: 20% -43px;
}

#plushieFeature
{
	object-position: 20% -25px;
}

#catfishFeature
{
	object-position: 20% -20px;
}

#lifestyleFeature
{
	object-position: 20% -6px;
}

/* -------------- Award & Certification Section ------------- */
#awardsCertification
{
    content: '';
    width: 100%;
	border-top: solid 1px #FFFFFF;
    border-bottom: solid 1px #FFFFFF;
    left: 0;
    top: 50%;
    z-index: 1;
	text-align: center;
	margin-bottom: 125px;
}

#awardsCertification img
{
	padding: 25px 10px 0px 10px;
}

#awardsCertification p 
{
    margin-bottom: 20px;
	margin-left: -85px;
	font-family: 'Roboto', sans-serif;
    font-size: 10px;
	color: #c3c3c3;
}

/* ---------------------- Card Section ---------------------- */
.card
{
	top: 50%;
	width: 300px;
	height: 420px;
	background: #FFFFFF;
	display: inline-flex;
	margin: 10px 115px;
}

#cardSectionTitle
{
	padding-bottom: 30px;
}

.row 
{
    margin-right: -15px;
    margin-left: -15px;
    display: inline-flex;
}

.card .backgroundImg, .card .cardDetails
{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	transition: 0.5s;
}

.card .backgroundImg
{
	top: 0;
	left: 0;
}

.card .cardDetails
{
	display: none;
	transition: 0.5s;
	font-family: 'Roboto Mono', sans-serif;
	color: #000000;
	font-size: 10px;
}

.card .cardDetails h4,h5
{
	text-decoration: underline;
	font-family: 'Roboto Mono', sans-serif;
	font-weight: 800;
}

.card:hover .backgroundImg
{
	top: 0;
	transform: translatex(-50%);
}

.card:hover .cardDetails
{
	display: block;
	transition: 0.5s;
	margin-left: -140px;
}

.backgroundImg img
{
	width: 300px;
    height: 420px;
}

/* ---------------------------- Animations -------------------------- */

/* ---Animation of Tabs-------- */

@keyframes fadeInUp 
{
    from 
	{
        transform: translate3d(0,40px,0)
    }

    to 
	{
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp 
{
    from 
	{
        transform: translate3d(0,40px,0)
    }

    to 
	{
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated 
{
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp 
{
    opacity: 0
}

.fadeInUp 
{
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

/* ------------------------------- Side Column ---------------------------- */

a:focus, a:hover
{
    color: #FF0000;
    text-decoration: underline;
}

a 
{
    color: #444;
    text-decoration: none;
}

.side-selects 
{
    width: 40px;
    position: fixed;
    bottom: -60px;
    left: 15px;
    right: auto;
    z-index: 10;
    color: #444;
    font-size: 25px;
}

.side-selects:after
{
	content: "";
    display: block;
    width: 1px;
    height: 200px;
    background-color: #FFFFFF;
    margin: 0px auto;
}

#instagramIcon:hover
{
	color: rgb(255,0,0)
}

.professional_Links
{
	display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.professional_Links li
{
	padding-bottom: 20px;
}

/*-------- Bottom Selects -----*/
.bottom-selects
{
	display: none;
}


/* ----------------------------  Responsive CSS -----------------------------*/
#menuToggle
{
	color: #FFFFFF;
	float: right;
	line-height: 50px;
	font-size: 20px;
	cursor: pointer;
	display: none;
}

@media (max-width: 1025px)
{
	.filmWorkFeatures 
	{
    	width: 700px;
	}
	
	/* ------- Feature Images ---------- */
	#antigoneFeature
	{
		object-position: 20% -30px;
	}
	#buildabooFeature
	{
		object-position: 20% -25px;
	}
	#piedmontFeature
	{
		object-position: 20% -25px;
	}
	#eliteFeature
	{
		object-position: 20% -30px;
	}
	#pottedplanterFeature
	{
		object-position: 20% -100px;
	}
	#livingroomFeature
	{
		object-position: 20% -100px;
	}
	#cozumelFeature
	{
		object-position: 20% -280px;
	}
	#urbanrecipeFeature
	{
		object-position: 20% -25px;
	}
	#filmdirectionFeature
	{
		object-position: 20% 0px;
	}
	#plushieFeature
	{
		object-position: 20% -20px;
	}
	#catfishFeature
	{
		object-position: 20% -20px;
	}
	#lifestyleFeature
	{
		object-position: 42% -5px;
	}
}

@media (max-width: 991px)
{
	
	/* ----------- Header / Navbar Responsiveness ---------- */
	header
	{
		padding: 0 20px;
	}
	#menuToggle
	{
		display: block;
	}
	header nav
	{
		position: absolute;
		width: 100%;
		height: 1000px;
		background: #000000;
		top: 45px;
		Left: -100%;
		transition: 0.5s;
		text-align: center;
		justify-content: center;
	}
	
	header nav.active
	{
		left: 0;
	}
	
	header nav ul
	{
		display: block;
		text-align: center;
		float: none;
	}
	header nav ul li a
	{
		border-bottom: 1px solid rgba(0,0,0,0.2);
	}
	
	header nav ul li.active ul
	{
		position: relative;
		background: #000000;
	}
	
	header nav ul li ul li
	{
		width: 100%;
	}
	
	/* ------------ Card Responsiveness Section --------- */
	.row
	{
		display: block;
	}
	
	/* ------ Featured List Buttons ------- */
	.filmWorkTabs
	{
		display: inline-flex;
		overflow-x: scroll;
		width: 100%;
		margin-bottom: 35px;
		list-style: none;
	}
	
	/* ------ Feature Videos/Images -------- */
	.featuredVideo 
	{
    	margin-left: -70px;
	}
}

/* ------------------------------ Smaller than Tablet Sized Responsiveness ----------- */
@media (max-width: 769px)
{
	/* Sidebar Sections--------------- */
	.professional_Links
	{
		display: flex;
    	flex-direction: row;
    	-webkit-box-align: center;
    	align-items: center;
    	padding: 0px;
    	margin: 0px;
    	list-style: none;
	}
	
	.professional_Links li
	{
		padding-left: 25px;
	}
	
	.bottom-selects
	{
		display: block;
   		width: max-content;
    	position: absolute;
    	margin: 0 auto;
    	z-index: 10;
    	color: #444;
    	font-size: 25px;
    	left: 36%;
	}
	
	.side-selects
	{
		display: none;
	}
	.side-selects:after
	{
		display: none;
	}
	
	/* ---------- Scrollbar Visibility -------- */
	::-webkit-scrollbar 
	{
  		-webkit-appearance: none;
  		width: 4px;
		height: 7px;
	}

	::-webkit-scrollbar-thumb 
	{
  		border-radius: 7px;
  		background-color: rgba(230, 230, 230, .5);
  		box-shadow: 0 0 0.5px rgba(255, 255, 255, .5);
	}
	
	/* ------------ Film Work Features Section ----------- */
	.filmWorkFeatures 
	{
   		width: 675px;
	}
	
	.filmWorkTabs
	{
		width: max-content;
	}
	
	#filmWorkDetails 
	{
    	margin-left: -100px;
	}
	
	video
	{
		margin-left: 135px;
	}
	
	iframe 
	{
    	margin-left: 140px;
	}
	
	/* ------- Aerial Videography Videos Section ---------- */
	#piedmontParkIFrame, #eliteScholarsIFrame
	{
		margin-left: 105px;
	}
	
	/* ------- 3D Modeling Section ------- */
	.featuredModel h4 
	{
    	margin-left: 140px;
	}
	
	/* ------- Cozumel Feature --------- */
	#cozumelFeature 
	{
    	margin-left: 40px;
    	width: 635px;
	}
	
	#cozumelCarousel 
	{
    	margin-left: 40px;
    	margin-right: -40px;
	}
	
	#cozumelFeature 
	{
    	object-position: 20% -250px;
	}
}


/* ------------------------------ Phone-Sized Responsiveness ----------- */
@media (max-width: 426px)
{
	/* ---------- Film Work Section --------- */
	
	.filmWorkFeatures 
	{
   		width: 450px;
		margin-left: -40px;
	}
	
	#filmWorkDetails 
	{
    	margin-left: -140px;
	}
	
	.filmWorkTabs 
	{
    	width: 375px;
    	margin-left: -110px;
	}
	
	#filmWorkTitle, #cardSectionTitle
	{
    	font-family: 'Roboto Mono', sans-serif;
    	color: #FFFFFF;
    	font-weight: 100;
    	font-size: 2.7em;
    	width: 450px;
		margin-left: -145px;
	}
	
	.featuredVideo 
	{
    	margin-left: -135px;
    	width: 320px;
	}	
	
	iframe
	{
		width: 400px;
    	height: 280px;
	}
	
	video 
	{
    	width: 400px;
    	height: 280px;
	}
	
	/* ------- Feature Images ---------- */
	#antigoneFeature
	{
		object-position: 20% 0px;
	}
	#buildabooFeature
	{
		object-position: 20% 0px;
	}
	#piedmontFeature
	{
		object-position: 20% 0px;
	}
	#eliteFeature
	{
		object-position: 20% 0px;
	}
	#pottedplanterFeature
	{
		object-position: 20% -40px;
	}
	#livingroomFeature
	{
		object-position: 20% -40px;
	}
	#urbanrecipeFeature
	{
		object-position: 20% 0px;
	}
	#plushieFeature
	{
		object-position: 20% 0px;
	}
	#catfishFeature
	{
		object-position: 20% 0px;
	}
	#lifestyleFeature
	{
		object-position: 54% -5px;
	}
	
	
	/* --------- Specific Feature Tweaks ---------- */
	#cozumelFeature 
	{
    	object-position: 20% -135px;
		margin-left: 45px;
    	width: 400px;
	}
	
	#pottedPlanterModel 
	{
    	margin-left: -70px;
		width: 300px;
	}
	
	#livingRoomModel 
	{
    	margin-left: -70px;
		width: 300px;
	}
	
	.card 
	{
    	margin: 10px -20px;
	}
	
	#piedmontParkIFrame, #eliteScholarsIFrame 
	{
    	margin-left: 135px;
	}
	
	/* ------ Cozumel Photo Section ----- */
	.browser 
	{
    	width: 415px;
	}
	
	#cozumelCarousel 
	{
		margin-right: 25px;
		left: 120px;
	}
	
	/* ------ Bottom Selects ------- */
	.bottom-selects
	{
		left: 25%;
	}
	
}

@media (max-width: 376px)
{
	#filmWorkTitle, #cardSectionTitle 
	{
    	font-family: 'Roboto Mono', sans-serif;
    	color: #FFFFFF;
    	font-weight: 100;
    	font-size: 2.3em;
    	width: 450px;
	}
	
	#filmWorkTitle
	{
		margin-left: -185px;
	}
	
	#cardSectionTitle
	{
		margin-left: -180px;
	}
	
	.filmWorkFeatures 
	{
   		width: 420px;
	}
	
	#filmWorkDetails 
	{
    	margin-left: -110px;
	}
	
	.featuredVideo 
	{
    	margin-left: -20px;
    	width: 320px;
	}
	
	.filmWorkTabs 
	{
    	width: 320px;
   		margin-left: -110px;
	}
	
	iframe 
	{
    	width: 320px;
   		height: 200px;
    	margin-left: 8px;
	}
	
	video
	{
		width: 320px;
    	height: 200px;
    	margin-left: 8px;
	}
	
	.card 
	{
    	margin: 10px -50px;
	}
	
	/* ------ 3D Modeling Section ------- */
	#pottedPlanterModel 
	{
    	width: 300px;
		margin-left: 0px;
	}
	
	#livingRoomModel 
	{
    	width: 300px;
		margin-left: 0px;
	}
	
	/* ------- Cozumel Feature --------- */
	#cozumelFeature
	{
		margin-left: 12px;
	}
	
		/* ------ Cozumel Photo Section ----- */
	.browser
	{
		width: 345px;	
	}
	
	#cozumelCarousel 
	{
		margin-right: 25px;
	}
}

@media screen and (max-width: 767px) and (max-height: 426px) 
{
	.bottom-selects
	{
		left: 36%;
	}
}

@media screen and (max-width: 321px) and (max-height: 813px)
{
	#cozumelCarousel
	{
    	margin-right: -30px !important; 
    	left: 135px !important;
	}
}

/* ----------- iPhone X like Screen Responsiveness --------------- */
@media screen and (max-width: 376px) and (max-height: 813px) 
{
	/* ------- Feature Images ---------- */
	#antigoneFeature
	{
		object-position: 20% 2px;
	}
	#buildabooFeature
	{
		object-position: 20% 2px;
	}
	#piedmontFeature
	{
		object-position: 20% 2px;
	}
	#eliteFeature
	{
		object-position: 20% 0px;
	}
	#pottedplanterFeature
	{
		object-position: 20% -32px;
	}
	#livingroomFeature
	{
		object-position: 20% -35px;
	}
	#cozumelFeature
	{
		object-position: 20% -280px;
	}
	#urbanrecipeFeature
	{
		object-position: 20% 2px;
	}
	#plushieFeature
	{
		object-position: 20% 2px;
	}
	#catfishFeature
	{
		object-position: 20% 0px;
	}
	#lifestyleFeature
	{
		object-position: 54% -5px;
	}
	
	/* ------- Featured Work Section ------- */
	.filmWorkFeatures 
	{
   		width: 350px;
	}
	
	#filmWorkDetails 
	{
    	margin-left: -110px;
	}
	
	.filmWorkTabs 
	{
    	width: 325px;
    	margin-left: -110px;
	}
	
	.featurePhoto
	{
		height: 113px;
	}
	
	/* ----- Cozumel Section -------- */
	
	#cozumelFeature 
	{
		margin-left: 35px;
    	width: 325px;
    	object-position: 20% -102px;
	}
	
	/* ------ Cozumel Photo Section ----- */
	.browser
	{
		width: 345px;	
	}
	
	#cozumelCarousel 
	{
    	margin-right: -30px;
    	left: 80px;
	}
	
	/* ------- Aerial Videography Videos Section ---------- */
	#piedmontParkIFrame, #eliteScholarsIFrame
	{
		margin-left: 0px;
	}
	
	/* ------- 3D Modeling Section ------- */
	.featuredModel h4 
	{
    	margin-left: 20px;
	}
	#pottedPlanterModel 
	{
    	width: 300px;
	}
	
	#livingRoomModel 
	{
    	width: 300px;
	}
	
	.bottom-selects
	{
		left: 23%;
	}
	
}

/* ------------------------- For Mobile Horizontal Reponsiveness -------------------- */
@media screen and (max-width: 825px) and (max-height: 425px) 
{
	
	.filmWorkFeatures 
	{
    	width: 700px;
    	margin-left: -100px;
	}
	
	.side-selects
	{
    	width: 40px;
    	position: fixed;
    	bottom: -180px;
    	left: 15px;
    	right: auto;
    	z-index: 10;
    	color: #444;
    	font-size: 25px;
	}
}

/* ------------------------- For Mobile Horizontal Reponsiveness -------------------- */
@media screen and (max-width: 751px) and (max-height: 425px) 
{
	
	.filmWorkFeatures 
	{
   		width: 675px;
    	margin-left: -15px;
	}
}