body
{
	margin: 0;
	padding-top: 70px;
	font-family: sans-serif;
	background: #000000;
	min-height: 1000px;
}

header
{
	position: fixed;
	top: 0;
	left: 0;
	padding: 0px 100px;
	width: 100%;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #000000;
	transition: 0.6s;
}

header .logo
{
	position: relative;
	color: #ffffff;
	height: 50px;
	line-height: 50px;
	font-size: 2em;
	transition: 0.6s;
	letter-spacing: 2px;
	font-family: 'Teko', sans-serif;
	text-shadow: 0 2px 5px rgba(255,0,0,2);
}

header ul
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

header nav
{
 top: 0;
 left: 0;
 width: 100%;
 height: 70px;
 background: rgba(0,0,0,0.6);
 box-sizing: border-box;
}

header nav ul
{	
	float: right;
	margin: 0;
	padding: 0;
	display: flex;
}

header nav ul li.active ul
{
	display: block;
}

header nav ul li
{
	list-style: none;
	position: relative;
}

header nav ul li ul
{
	Left: 0;
	background: #000000;
	position: absolute;
	display: none;
}

header nav ul li ul li 
{
	display: block;
	width: 200px;
}
 
header nav ul li a
{
	position: relative;
 	display: block;
 	height: 70px;
 	line-height: 70px;
 	padding: 0 20px;
 	box-sizing: border-box;
 	color: #fff;
 	text-decoration: none;
 	text-transform: uppercase;
 	transition: .5s;
	letter-spacing: 2px;
}

header nav ul li a.sub-catagory
{
	letter-spacing: 1px;
}

header nav ul li a:before
{
	content: '';
	position: absolute;
	top: 0;
	Left: 0;
	width: 100%;
	height: 100%;
	background: #ffffff;
	transform-origin: right;
	z-index: -1;
	transform: scaleX(0);
	transition: transform 0.5s;
}

header nav ul li a:hover:before
{
	transform-origin: left;
	transform: scaleX(1);
}

header nav ul li a:hover
{
	color:#000000;
}

header nav ul li a:hover,
header nav ul li a.current
{
	color: #A91101;
	background: #ffffff;
}

container
{
	width: 100%;
}

h1
{
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	margin: 0;
	padding-top: 100px;
	font-family: sans-serif;
	color: #ffffff;
	font-size: 40px;
	list-style: none;
}

/* ------------------------------- Side Column ---------------------------- */

a:focus, a:hover
{
    color: #FF0000;
    text-decoration: underline;
}

a 
{
    color: #444;
    text-decoration: none;
}

.side-selects
{
	width: 40px;
    position: fixed;
    bottom: 0px;
    left: 40px;
    right: auto;
    z-index: 10;
    color: #444;
	font-size: 25px;
}

.side-selects:after
{
	content: "";
    display: block;
    width: 1px;
    height: 200px;
    background-color: #FFFFFF;
    margin: 0px auto;
}

#instagramIcon:hover
{
	color: rgb(255,0,0)
}

.professional_Links
{
	display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.professional_Links li
{
	padding-bottom: 20px;
}


/* -------------------------------- Sections ------------------------------ */

section
{
	width: 100%;
	height: 100%;
	padding: 150px 100px 100px;
}

.section-header
{
	font-family: 'Josefin Sans', sans-serif;
	font-weight: lighter;
}

.infoSection
{
	margin-top: 5px;
	color: #e6e6e6;
}


/* ---------------- Introduction ---------------- */

#introductionSection
{
	overflow: auto;
}

.landing-text
{
	color: #ffffff;
}

.landing__header 
{
    font-weight: 800;
    font-size: 5em;
    margin-bottom: 10px;
	letter-spacing: 2px;
	bottom: -60px;
	text-shadow: none;
}

.landing__header, .landing__sub-header
{
	font-family: 'Roboto', sans-serif;
    position: relative;
	letter-spacing: 5px;
}

.landing__sub-header
{
	font-family: 'Josefin Sans', sans-serif;
	letter-spacing: 4px;
	top: -10px;
	font-size: 4.5em;
	font-weight: 100;
}

.landing__header:after, .landing__sub-header:after 
{
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    height: 6px;
    background: #444;
	width: 100%;
}

.landing__header:after
{
    bottom: -15px;
}

.landing-featured
{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	padding-bottom: 40px;
	color: #FF0000;
}

.roles
{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
	color: #e6e6e6;
}

.y-center 
{
    -webkit-box-align: center;
    -ms-flex-align: center;
	align-items: center;
}

.column 
{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
  	flex-direction: column;
}

.type
{
	font-size: 25px;
}


/* --------------------- Quote Section ----------------------- */

.quote
{
	display: inline-block;
	margin: 5px;
}

#quoteSection
{
	height: 900px;
}

#smaller-section
{
	margin-top: 55px;
	margin-bottom: 40px;
	font-size: 7vw;
    line-height: 9vw;
	letter-spacing: 2.5px;
}

#zero
{
	font-weight: lighter;
	font-size: 26vw;
    line-height: 23vw;
	position: relative;
	margin-left: -25px;
}

/* ---------------------- About Section ------------------------ */

#about-section
{
	padding-left: 25px;
}

#about-section:before 
{
    content: ">";
    position: absolute;
    bottom: 42px;
    left: 0px;
    height: 4px;
    width: 0%;
	color: #FF0000;
    background: #ffffff;
}

#about-section:after 
{
    content: "";
    position: absolute;
    bottom: 20px;
    left: 215px;
    height: 4px;
    width: 85%;
    background: #FF0000;
}

.infotext
{
	padding-left: 0px;
	padding-right: 0px;
	font-family: 'Roboto', sans-serif;
	font-size: 1.4em;
	margin-top: -30px;
	font-weight: lighter;
}

.technologyGrid
{
	padding-left: 20px;
    padding-right: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4em;
    margin-top: -30px;
    font-weight: 300;
}

.previousTechnology
{
	display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    overflow: hidden;
    padding: 0px;
    list-style: none;
	float: left;
}

.technology:before 
{
    content: ">";
    position: relative;
    bottom: 0px;
    left: -5px;
    height: 4px;
    width: 0%;
	color: #FF0000;
    background: #000000;
}

.technology
{
	font-size: 15px;
	padding: 20px 10px 0px 10px;
}

.emphasis
{
	color: #FF0000;
}

.row
{
	margin-left: 0px;
}

/* ------------------ Where I've Worked Section -------------------- */

#experienceSection
{
	height: 850px;
}

#experienceHeader
{
	padding-left: 25px;
}

#experienceHeader:before 
{
    content: ">";
    position: absolute;
    bottom: 42px;
    left: 0px;
    height: 4px;
    width: 0%;
	color: #FF0000;
    background: #ffffff;
}

#experienceHeader:after 
{
    content: "";
    position: absolute;
    bottom: 20px;
    left: 410px;
    height: 4px;
    width: 66%;
    background: #FF0000;
}

#experienceMenu
{
	height: 850px;
}

.experienceTabHeader
{
	display: inline-flex;
}

.experienceTabs
{
    display: block;
    position: relative;
    width: max-content;
    z-index: 3;
    padding: 0px;
    margin: 0px;
    list-style: decimal-leading-zero;
}

.experienceTabs li.active
{
	color: #FF0000;
}

.experienceTabs li
{
	padding-top: 20px;
}

.experienceButton
{
	text-decoration-skip-ink: auto;
    position: relative;
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    background-color: transparent;
    height: 42px;
    text-align: left;
    white-space: nowrap;
    font-family: "Roboto Mono";
    font-size: 13px;
    color: #e6e6e6;
    text-decoration: none;
    padding: 0px 20px 2px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    border-left: 2px solid rgb(0, 0, 0);
}

.experienceButton:hover
{
	color: #FF0000;
	background-color: #e6e6e6;
}

.tab
{
	float:left;	
}

.tab-content 
{
 	display: none;
 	padding: 6px 12px;
 	float: left;
}

.tab-content h3
{
	font-family: 'Roboto', sans-serif;
    font-size: 2em;
	color: #FFFFFF;
}

.experienceNotes
{
	font-family: 'Roboto', sans-serif;
    font-size: 1em;
	color: #e6e6e6;
	padding-top: 20px;
	letter-spacing: 1px;
}

.experienceNotes p
{
	padding: 10px 0px 10px 15px;
}

.experienceNotes p:before
{
	content: ">";
    position: absolute;
    left: 0px;
    height: 4px;
    width: 0%;
	color: #FF0000;
    background: #ffffff;
}

img
{
	width: 125px;
	height: 125px;
	float: left;
}

.experienceTitle
{
	padding-left: 20px;
	float: left;
	width: 100%;
	height: 125px;
	font-family: 'Roboto', sans-serif;
	color: rgba(205,35,35,0.8);
}

button 
{
    cursor: pointer;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    border-radius: 0px;
}

/* ---Animation of Tabs-------- */

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

/* ----------------------------  Responsive CSS -----------------------------*/
#menuToggle
{
	color: #FFFFFF;
	float: right;
	line-height: 50px;
	font-size: 20px;
	cursor: pointer;
	display: none;
}


@media (max-width: 991px)
{
	
	/* ----------- Header / Navbar Responsiveness ---------- */
	header
	{
		padding: 0 20px;
	}
	#menuToggle
	{
		display: block;
	}
	header nav
	{
		position: absolute;
		width: 100%;
		height: calc(100vh - 50px);
		background: #000000;
		top: 50px;
		Left: -100%;
		transition: 0.5s;
		text-align: center;
		justify-content: center;
	}
	
	header nav.active
	{
		left: 0;
	}
	
	header nav ul
	{
		display: block;
		text-align: center;
		float: none;
	}
	header nav ul li a
	{
		border-bottom: 1px solid rgba(0,0,0,0.2);
	}
	
	header nav ul li.active ul
	{
		position: relative;
		background: #000000;
	}
	
	header nav ul li ul li
	{
		width: 100%;
	}	
	
	section
	{
		width: 100%;
		height: 100%;
		padding: 100px 50px 50px;
		flex-direction: column;
	}
	
	/* ----------------- Intro Section Responsive ------------- */

	/* ----------------- About Section Responsive ------------- */

	.infotext 
	{
		padding-left: 25px;
	}
	
	/*------------------ Quote Section Responsive -------------*/
	#quoteSection
	{
		height: 100%;
	}
}

@media (max-width: 767px)
{
	body
	{
		position: absolute;
	}
	
	/* Quote Section ----------------- */
	
	#quoteSection
	{
		height: calc(100vh - 50px);
	}
	
	/* About Me --------------------- */
	
	.technologyGrid
	{
		padding-left: 25px;
		margin-top: 0px;
	}
	
	/* Experience ------------------- */
	
	.experienceTabs
	{
		display: inline-flex;
		margin-left: 35px;
	}
	.experienceTabs li
	{
		padding: 10px 65px 25px 0px;
	}
}
		